html {
    border: 8px ridge rgb(39, 39, 184);
}

h1 {
    text-decoration: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    color: red;
}

img {
    height: 50%;
    width: 50%;
    float: right;
}

a {
    display: flex;
    flex-wrap: nowrap;
}

@media only screen and (max-width:426px) {
    h1 {
        text-align: center;  
    }

    p {
        text-align: center;
    }

    img {
        height: 80%;
        width: 80%;
    }

}

@media only screen and (min-width: 427px) and (max-width:1025px) {
    h1 {
        text-align: center;  
    }

    p {
        text-align: center;
    }

    img {
        height: 60%;
        width: 60%;
    }
}

@media only screen and (min-width: 1026px) and (max-width:2560px) {
    h1 {
        text-align: center;  
    }

    p {
        text-align: center;
        font-size: 40px;
    }

    img {
        height: 40%;
        width: 40%;
    }

    a {
        font-size: 25px;
    }
}