html{
    border: 8px ridge red;
}
h1{
    text-decoration: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
}
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    color: red;

}
img{
    height:50%;
    width: 50%;
    float: right;
}
a{
    display: flex;
    flex-wrap: nowrap;
}