html {
  height: 100%;
  width: 100%;
  background: linear-gradient(black,white,black);
}

.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-auto-columns: 100px 1fr 300px;
  grid-auto-rows: 75px repeat(2,1fr) auto;
  gap: 5px 5px;
  grid-template-areas: "hd hd hd hd"
    "sd main main main"
    "sd main main main"
    "sd ft ft ft"
}

#intro {
  display: grid;
  grid-auto-flow: column;
}

#search-bar {
  height: 16px;
  width: 100px;
  border: 2px solid blue;
  border-radius: 10px;
  box-shadow: 2px 4px 6px;
}

button {
  border: 2px solid blue;
  border-radius: 10px;
  box-shadow: 2px 4px 6px;
}

h1 {
  margin: 10px;
  font:40px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: overline underline;
}

h2 {
  text-align: center;
  text-shadow: 0 4px 11px;
}

h3 {
  margin: auto;
  font: 20px 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title {
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  box-shadow: inset 0 0 10px;
  grid-area: hd;
}

.nav {
  display: grid;
  height: fit-content;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  box-shadow: inset 0 0 10px;
  align-content: space-evenly;
  grid-area: sd;
}

.main {
  display: grid;
  grid-auto-flow: row;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  box-shadow: inset 0 6px 10px;
  grid-area: main;
  vertical-align: middle;
}

.author {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.selfie {
  height: 120px;
  width: 110px;
  margin: auto;
  border-radius: 60px;
  box-shadow: 2px 4px 6px;
}

.bio {
  display: flex;
  margin: auto;
  padding: 2px;
  width: 70%;
  justify-content: center;
  font-size: medium;
  color: black;
  border: 2px groove rgb(111, 255, 0);
  background-color: rgba(64, 166, 244, 0.416);
  border-radius: 20px;
  box-shadow: inset 0 4px 8px;
}

.imageOne {
  height: auto;
  width: 75%;
  padding: 15px;
  margin: auto;
  border: 2px solid rgb(111, 255, 0);
  border-radius: 10px;
  box-shadow: inset 0 4px 8px;
}

figure {
  position: relative;
}

figure img {
  width: 100%;
  display: block;
}

figure figcaption {
  font-size: large;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  width: 90%;
  border-radius: 10px;
}

p {
  font:20px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 30px;
  margin: 20px;
  border: 4px groove rgb(111, 255, 0);
  border-radius: 30px 5px 30px 5px;
}

.logo {
  list-style-type: none;
  display: grid;
  padding: 10px;
  justify-content: center;
}

.questions {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif bold;
  font-weight: bold;
  text-decoration: underline olivedrab;
}

.q1 {
  color: purple;
}

.q2 {
  color: lightskyblue;
}

.q3 {
  color: palevioletred;
}

.q4 {
  color: green;
}

.imageTwo {
  height: auto;
  width: 75%;
  padding: 15px;
  margin: 20px auto;
  border: 2px solid rgb(111, 255, 0);
  border-radius: 10px;
  box-shadow: inset 0 4px 8px;
}

.imageThree {
  height: auto;
  width: 75%;
  padding: 15px;
  margin: 10px auto;
  border: 2px solid rgb(111, 255, 0);
  border-radius: 10px;
  box-shadow: inset 0 4px 8px;
}

.credit {
  display: grid;
  height: 100%;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  box-shadow: inset 0 4px 8px;
  grid-area: ft;
}

#bottom {
  display: grid;
  grid-auto-flow: column;
}

a {
  text-decoration: none;
  font:larger 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}