html {
  height: 100%;
  width: 100%;
  background: linear-gradient(black,white,black);
}

.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-auto-columns: auto;
  grid-auto-rows: 75px repeat(2,1fr) auto;
  gap: 5px 5px;
  grid-template-areas: 
  "hd hd hd hd"
  "sd main main feat"
  "sd main main feat"
  "sd ft ft feat"
}

#intro {
  display: grid;
  grid-auto-flow: column;
}

h1 {
  margin: 10px;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: overline underline;
}

h3 {
  margin: auto;
  text-align: center;
  font: 20px 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#search-bar {
  height: 16px;
  width: 100px;
  border: 2px solid blue;
  border-radius: 10px;
  box-shadow: 2px 4px 6px;
}

button {
  border: 2px solid blue;
  border-radius: 10px;
  box-shadow: 2px 4px 6px;
}

.title {
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  box-shadow: inset 0 0 10px;
  grid-area: hd;
}

.nav {
  display: grid;
  height: fit-content;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  box-shadow: inset 0 4px 8px;
  align-content: space-evenly;
  grid-area: sd;
}

.main {
  display: grid;
  grid-auto-flow: row;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  box-shadow: inset 0 4px 8px;
  grid-area: main;
}

.imageOne {
  height: 400px;
  width: 325px;
  padding: 10px;
  margin: auto;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: inset 0 4px 8px;
}

.imageTwo {
  height: 325px;
  width: 325px;
  padding: 10px;
  margin: auto;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: inset 0 4px 8px;
}

p {
  font-size: 20px;
  text-align: center;
  padding: 20px;
  margin: 20px;
  border: 4px groove rgb(111, 255, 0);
  border-radius: 30px 5px 30px 5px;
}

ul {
  list-style-type: none;
  display: grid;
  padding: 10px;
  justify-content: center;
}

.extra {
  height: fit-content;
  width: 90px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  box-shadow: inset 0 4px 8px;
  grid-area: feat;
}

#add {
  display: grid;
  border: 2px solid black;
  align-content: first baseline;
}

.credit {
  display: grid;
  height: 100%;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  box-shadow: inset 0 4px 8px;
  grid-area: ft;
}

#bottom {
  display: grid;
  grid-auto-flow: column;
}

a {
  text-decoration: none;
}

@media only screen and (max-width:425px) {

  .container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-auto-columns: 85px;
    grid-auto-rows: 90px auto;
    gap: 5px 5px;
    grid-template-areas: 
    "hd hd hd hd"
    "sd sd sd sd"
    "feat feat feat feat"
    "main main main main"
    "ft ft ft ft"
  }

  .nav {
    display:flex;
    justify-content: center;
    flex-direction: row;
    height: auto;
    border: 8px groove black;
  }

  ul {
    display:flex;
    flex-direction: row;
  }

  .extra {
    height: 90px;
    width: auto;
    display: flex;
  }

  .imageOne {
    height:300px;
    width:260px;
  }

  .imageTwo {
    height:260px;
    width: 260px;
  }

  h1 {
    display: inline-flex;
    font-size:20px;
    margin: auto;
  }

  h3 {
    display: flex;
    margin: auto;
    font-size: 15px;
  }

  #search-bar {
    height:16px;
    width: 70px;
  }

}

@media only screen and (min-width: 426px) and (max-width:1024px) {
    .imageOne {
    height:300px;
    width:260px;
  }

  .imageTwo {
    height:260px;
    width: 260px;
  }

  h1 {
    display: inline-flex;
    font-size:60px;
    margin: auto;
  }

  h3 {
    display: flex;
    margin: auto;
    font-size: 15px;
  }

  #search-bar {
    height:16px;
    width: 70px;
  }

}

@media only screen and (min-width: 1440px) and (max-width:2560px) {
  
}
